@{
    ViewData["Title"] = "Login Page";
}
<style>
    
</style>

    <div class="login_body">
        <div class="login_textbox">
           <input type="text" id="idUserName" autocomplete="off" tabindex="1" placeholder="Please Enter User Name" />
            <input type="text" id="pass" autocomplete="off" tabindex="2" placeholder="Please Enter Password" />
    </div>
    <span style="margin-left:0px">
        <i class="icon-at icon-font7">
         
        </i>
    </span>
    </div>

<link href="~/css/Login.css" />
<div class="text-center">


    <input type="button" id="Submit_" value="Submit" />



</div>


